.container-fluid {
    background: rgb(3, 56, 244);
    background: linear-gradient(180deg, rgba(3, 56, 244, 0.71) 0%, rgba(244, 37, 206, 0.79) 100%);
    // background: linear-gradient(180deg, rgba(3, 56, 244, 1) 0%, rgba(244, 37, 206, 1) 100%);
    max-width: 950px;
    margin: 100px auto;
}


.row {
    padding: 10px 15px;
}

.leftside {
    background: rgba(196, 196, 196, 0.3);
    border-radius: 10px;
    max-width: 49%;
    margin-right: 1%;

}

.rightside {
    background: #FFFFFF;
    border-radius: 10px;
    padding-top: 10px;
    user-select: none;

}



@media(max-width:500px) {
    .row {
        display: flex;
        flex-direction: column;

        .leftside {
            max-width: 100%;
        }

        .rightside {
            max-width: 100%;
        }
    }
}