* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

html {
	height: 100%;
	scroll-behavior: smooth;

}

body,
html {
	min-height: 100%;
	width: 100%;
}

// Main styles


.wrapper {
	background-image: url("../images/bg2.jpg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-bottom: 1px;
	display: flex;
	align-items: center;
}

.accordion {
	cursor: pointer;
	transition: all 1s;
}

.panel {
	// max-height: 0;
	opacity: 1;
	overflow: hidden;
	transition: all 1s;
}