
  @include font-face('icomoon', 'fonts/icomoon/icomoon');

  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  .icon-css3 .path1:before {
    content: "\e900";
    color: rgb(33, 150, 243);
  }
  .icon-css3 .path2:before {
    content: "\e901";
    margin-left: -0.8330078125em;
    color: rgb(250, 250, 250);
  }
  .icon-figma-logo-vector .path1:before {
    content: "\e902";
    color: rgb(10, 207, 131);
  }
  .icon-figma-logo-vector .path2:before {
    content: "\e904";
    margin-left: -0.6669921875em;
    color: rgb(162, 89, 255);
  }
  .icon-figma-logo-vector .path3:before {
    content: "\e905";
    margin-left: -0.6669921875em;
    color: rgb(242, 78, 30);
  }
  .icon-figma-logo-vector .path4:before {
    content: "\e906";
    margin-left: -0.6669921875em;
    color: rgb(255, 114, 98);
  }
  .icon-figma-logo-vector .path5:before {
    content: "\e907";
    margin-left: -0.6669921875em;
    color: rgb(26, 188, 254);
  }
  .icon-HTML-5 .path1:before {
    content: "\e908";
    color: rgb(255, 120, 22);
  }
  .icon-HTML-5 .path2:before {
    content: "\e909";
    margin-left: -0.8330078125em;
    color: rgb(236, 236, 241);
  }
  .icon-JS .path1:before {
    content: "\e90a";
    color: rgb(212, 184, 48);
  }
  .icon-JS .path2:before {
    content: "\e90b";
    margin-left: -0.8798828125em;
    color: rgb(235, 235, 235);
    opacity: 0.9087;
  }
  .icon-JS .path3:before {
    content: "\e90c";
    margin-left: -0.8798828125em;
    color: rgb(253, 216, 60);
  }
  .icon-mail:before {
    content: "\e90d";
    color: #fff;
  }
  .icon-marker:before {
    content: "\e90e";
    color: #fff;
  }
  .icon-photoshop .path1:before {
    content: "\e90f";
    color: rgb(0, 195, 255);
  }
  .icon-photoshop .path2:before {
    content: "\e910";
    margin-left: -1em;
    color: rgb(0, 195, 255);
  }
  .icon-photoshop .path3:before {
    content: "\e912";
    margin-left: -1em;
    color: rgb(6, 62, 139);
  }
  .icon-photoshop .path4:before {
    content: "\e914";
    margin-left: -1em;
    color: rgb(6, 62, 139);
  }
  .icon-photoshop .path5:before {
    content: "\e915";
    margin-left: -1em;
    color: rgb(204, 239, 255);
  }
  .icon-photoshop .path6:before {
    content: "\e917";
    margin-left: -1em;
    color: rgb(204, 239, 255);
  }
  .icon-photoshop .path7:before {
    content: "\e918";
    margin-left: -1em;
    color: rgb(0, 195, 255);
  }
  .icon-photoshop .path8:before {
    content: "\e919";
    margin-left: -1em;
    color: rgb(0, 195, 255);
  }
  .icon-photoshop .path9:before {
    content: "\e91a";
    margin-left: -1em;
    color: rgb(0, 195, 255);
  }
  .icon-tel:before {
    content: "\e91b";
    color: #fff;
  }
  .icon-world:before {
    content: "\e91c";
    color: #fff;
  }
  .icon-csharp:before {
    content: "\e920";
    color: #239120;
  }
  .icon-php:before {
    content: "\e921";
    color: #777bb4;
  }
  .icon-wordpress:before {
    content: "\e922";
    color: #21759b;
  }
  .icon-laptop:before {
    content: "\e91d";
  }
  .icon-bike:before {
    content: "\e91e";
  }
  .icon-bicycle:before {
    content: "\e91e";
  }
  .icon-travel:before {
    content: "\e91e";
  }
  .icon-ride:before {
    content: "\e91e";
  }
  .icon-table-tennis:before {
    content: "\e91f";
  }
  .icon-volleyball:before {
    content: "\e903";
  }
  .icon-music:before {
    content: "\e911";
  }
  .icon-film:before {
    content: "\e913";
  }
  .icon-pacman:before {
    content: "\e916";
  }
  